.header{
    width: 100%;
    background-color: #dddddd;
    border-bottom: #777777 solid 10px;
    margin:auto;
}
#name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    background: #4aaaa5;
    width: 960px;
    float: left;
    margin: auto;
    color: #dddddd;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: red
}
.buttons{
    color: #777777;
    float: right;
    margin-top: -20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
#portfolio{
    border-right: #777777 solid 1px;
}
#contact{
    border-right: #777777 solid 1px;
}
.body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
    width: 960px;
    margin: auto;
    background: #dddddd;

}
body{ 
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-image: url(/images/textured-background-herbs-space-text-15409092.jpg)
}
h2{
    font-size: 25px;
    float: left;
    border-bottom: #777777 solid 1px;
}
#photo{
    height: 10%;
    width: 10%;
    transform: rotate(-90deg);
    float: left;
}
#footer{
    text-align: center;
    background: #777777;
    color: #2c2b2b;
    font-size: 14px;
    border-bottom: #4aaaa5 solid 2px;
}
ul{
    background: #dddddd;
    padding: 50px;
    margin: auto;
    text-align: center;
}